html,body{
    height: 100%;
    text-align: center;
    max-width:100%;
    font-family:'Times New Roman','Microsoft JhengHei';
  
  }


.banner{
    margin-bottom:25pt;
    opacity: 0.5 ;
  }



/* -------------- */
/* hr */
/* -------------- */
hr{
    margin:30pt !important;
}

@media (max-width: 450px) {
    hr{
        margin:15pt !important;
    }
  }


